.wb-z{
	font-family:Arial;
	font-size: 12px;
	color: #777777;
}
.linkwb a {
	font-family:Arial;
	font-size: 12px;
	color: #777777;
}
.linkwb a:link {
	text-decoration: none;
}
.linkwb a:visited {
	text-decoration: none;
	color: #777777;
}
.linkwb a:hover {
	text-decoration:underline;
	color: #777777;
}
.linkwb a:active {
	text-decoration: none;
	color: #777777;
}
.linkjj a {
	font-family:Arial;
	font-size: 12px;
	color: #6d6d6d;
}
.linkjj a:link {
	text-decoration: none;
}
.linkjj a:visited {
	text-decoration: none;
	color: #6d6d6d;
}
.linkjj a:hover {
	text-decoration:underline;
	color: #6d6d6d;
}
.linkjj a:active {
	text-decoration: none;
	color: #6d6d6d;
}
.jj-z{
	font-family:Arial;
	font-size:12px;
	color:#6d6d6d;
}
.linkrj a {
	font-family:Arial;
	font-size: 14px;
	color: #6d6d6d;
}
.linkrj a:link {
	text-decoration: none;
}
.linkrj a:visited {
	text-decoration: none;
	color: #6d6d6d;
}
.linkrj a:hover {
	text-decoration:underline;
	color: #6d6d6d;
}
.linkrj a:active {
	text-decoration: none;
	color: #6d6d6d;
}
.gy-z{
	font-family:Arial;
	font-size:12px;
	color:#ffffff;
}

.lm-z{
	font-family:"微软雅黑";
	font-size:17px;
	color:#ffffff;
}
.lx-z{
	font-family:Arial;
	font-size:12px;
	color:#515050;
}
/*开始*/
.nav-z{
	font-family:Arial;
	font-size: 14px;
	color: #4f4f4f;
}
.linknav a {
	font-family:Arial;
	font-size: 14px;
	color: #4f4f4f;
}
.linknav a:link {
	text-decoration: none;
}
.linknav a:visited {
	text-decoration: none;
	color: #4f4f4f;
}
.linknav a:hover {
	text-decoration:underline;
	color: #4f4f4f;
}
.linknav a:active {
	text-decoration: none;
	color: #4f4f4f;
}
/*结束*/
.linkgreen a {
	font-family:Arial;
	font-size: 14px;
	color: #0e519c;
}
.linkgreen a:link {
	text-decoration: none;
}
.linkgreen a:visited {
	text-decoration: none;
	color: #0e519c;
}
.linkgreen a:hover {
	text-decoration:underline;
	color: #0e519c;
}
.linkgreen a:active {
	text-decoration: none;
	color: #0e519c;
}

.linktop2 a {
	font-family:Arial;
	font-size: 12px;
	color: #14549d;
}
.linktop2 a:link {
	text-decoration: none;
}
.linktop2 a:visited {
	text-decoration: none;
	color: #14549d;
}
.linktop2 a:hover {
	text-decoration:underline;
	color: #14549d;
}
.linktop2 a:active {
	text-decoration: none;
	color: #14549d;
}

.linkss a {
	font-family:Arial;
	font-size: 12px;
	color: #0d5491;
}
.linkss a:link {
	text-decoration: none;
}
.linkss a:visited {
	text-decoration: none;
	color: #0d5491;
}
.linkss a:hover {
	text-decoration:underline;
	color: #0d5491;
}
.linkss a:active {
	text-decoration: none;
	color: #0d5491;
}
.xx-z{
	font-family:Arial;
	font-size: 12px;
	color: #4b4b4b;
}
.linkxx a {
	font-family:Arial;
	font-size: 12px;
	color: #4b4b4b;
}
.linkxx a:link {
	text-decoration: none;
}
.linkxx a:visited {
	text-decoration: none;
	color: #4b4b4b;
}
.linkxx a:hover {
	text-decoration:underline;
	color: #4b4b4b;
}
.linkxx a:active {
	text-decoration: none;
	color: #4b4b4b;
}

.d-z{
	font-family:Arial;
	font-size:18px;
	color:#6d6d6d;
}
.bai-z{
	font-family:Arial;
	font-size:14px;
	color:#ffffff;
}
.linkjj2 a {
	font-family:Arial;
	font-size: 16px;
	color: #6d6d6d;
}
.linkjj2 a:link {
	text-decoration: none;
}
.linkjj2 a:visited {
	text-decoration: none;
	color: #6d6d6d;
}
.linkjj2 a:hover {
	text-decoration:underline;
	color: #6d6d6d;
}
.linkjj2 a:active {
	text-decoration: none;
	color: #6d6d6d;
}

.zx-z{
	font-family:Arial;
	font-size:22px;
	color:#0e519c;
}
.zxzp-z{
	font-family:Arial;
	font-size:14px;
	color:#6d6d6d;
}

.lynr-z{
	font-family:Arial;
	font-size:12px;
	color:#006557;
}
.nr-z{
	font-family:Arial;
	font-size:12px;
	color:#858585;
}
.linkbai a {
	font-family:Arial;
	font-size: 12px;
	color: #ffffff;
}
.linkbai a:link {
	text-decoration: none;
}
.linkbai a:visited {
	text-decoration: none;
	color: #ffffff;
}
.linkbai a:hover {
	text-decoration:underline;
	color: #ffffff;
}
.linkbai a:active {
	text-decoration: none;
	color: #ffffff;
}
/*正文改成这个字体的样式，页面相对应的也改一下*/
.jj-z2{
	font-family:Arial;
	font-size:12px;
	color:#6d6d6d;
}
/*结束*/